src/example/UserService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://example" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://example" xmlns:intf="http://example" xmlns:tns1="http://bean.zguiz.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://example" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bean.zguiz.com"/>
   <element name="account" type="xsd:string"/>
   <element name="password" type="xsd:string"/>
   <element name="logintoSystemReturn" type="tns1:User"/>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://bean.zguiz.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="User">
    <sequence>
     <element name="account" nillable="true" type="xsd:string"/>
     <element name="admin" type="xsd:boolean"/>
     <element name="age" type="xsd:int"/>
     <element name="birthday" nillable="true" type="xsd:dateTime"/>
     <element name="password" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="logintoSystemRequest">

      <wsdl:part element="impl:account" name="account" type="xsd:string"/>

      <wsdl:part element="impl:password" name="password" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="logintoSystemResponse">

      <wsdl:part element="impl:logintoSystemReturn" name="logintoSystemReturn"/>

   </wsdl:message>

   <wsdl:portType name="UserService">

      <wsdl:operation name="logintoSystem" parameterOrder="account password">

         <wsdl:input message="impl:logintoSystemRequest" name="logintoSystemRequest"/>

         <wsdl:output message="impl:logintoSystemResponse" name="logintoSystemResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserServiceSoapBinding" type="impl:UserService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="logintoSystem">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="logintoSystemRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="logintoSystemResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserServiceService">

      <wsdl:port binding="impl:UserServiceSoapBinding" name="UserService">

         <wsdlsoap:address location="http://localhost:8080//services/example/UserService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
